<div error-directive error="error"></div>
<div ng-if="images.length > 0" infinite-scroll='loadMore()' infinite-scroll-distance='2'>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="img in images | limitTo: limit">
            <a href="/image/{{img.id}}">
                <img ng-src="{{img.thumbnailUrl}}" alt="{{img.title}}">
            </a>
            <div>
                <span>{{(img.title.length > 15)? img.title.substring(0, 15)+'...' : img.title;}}</span>
                <a href="/album/{{img.albumId}}">
                    <span class="fa fa-folder-open"></span>
                </a>
            </div>
        </div>
    </div>
</div>